
.App{
  height: 100vh;
  width: 100vw;
}

.grid-container{
  position: fixed;
  display: inline-grid;
  grid-template: "auto auto auto auto auto";
}

.position-0{
  grid-row: 1;
  grid-column: 1;
  transform: rotate(180deg);
}
.position-1{
  grid-row: 1;
  grid-column:2; 
  transform: rotate(180deg);
}
.position-2{
  grid-row: 1;
  grid-column: 3;
  transform: rotate(180deg);
}
.position-3{
  grid-row: 1;
  grid-column: 4;
  transform: rotate(180deg);
}
.position-4{
  grid-row: 1;
  grid-column: 5;
  transform: rotate(180deg);
}
.position-5{
  grid-row: 2;
  grid-column: 5;
  transform: rotate(-90deg);
}
.position-6{
  grid-row: 3;
  grid-column: 5;
  transform: rotate(-90deg);
}
.position-7{
  grid-row: 4;
  grid-column: 5;
  transform: rotate(-90deg);
}
  .position-8{
    grid-row: 5;
    grid-column: 5;
  }
  .position-9{
    grid-row: 5;
    grid-column: 4;
  }
  .position-10{
    grid-row: 5;
    grid-column: 3;
  }
  .position-11{
    grid-row: 5;
    grid-column: 2;
  }
  .position-12{
    grid-row: 5;
    grid-column: 1;
  }
  .position-13{
    grid-row: 4;
    grid-column: 1;
    transform: rotate(90deg);
  }
  .position-14{
    grid-row: 3;
    grid-column: 1;
    transform: rotate(90deg);
  }
  .position-15{
    grid-row: 2;
    grid-column: 1;
    transform: rotate(90deg);
}

